<div class="bg-image"></div>

<app-best-seller></app-best-seller>

<div class="wrapper sticky">

  <nav class="navbar-fixed-top">

    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>

    <ul>
      <li>
        <!-- Botón de inicio de sesión -->
        <a (click)="handleLoginAction()">Iniciar Sesion</a>
        <!-- Botón de registro -->
        <a (click)="handleSignupAction()">Registrarse</a>
        <!-- Botón de olvido de contraseña -->
        <a (click)="handleForgotPasswordAction()">Recuperar Contraseña</a>
      </li>
    </ul>

  </nav>

</div>

<div class="footer" id="signup">
  <h2>Franklin Guapisaca</h2>
</div>