/* Toolbar del dialog */
mat-toolbar{
  background-color: #8e24aa; /* morado bonito */
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 0 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

mat-error {
  color: #f44336; /* rojo para errores */
  font-size: 12px;
  margin-top: 4px;
}

mat-dialog-actions{

  .registrarse {
    background-color: #8e24aa; /* morado para submit */
    color: white;
    border-radius: 10px;
    
  }

  .cerrar {
    background-color: #f44336; /* rojo para cerrar */
    color: white;
    border-radius: 10px;
  }
}