<mat-action-list appAccordion>

  <div class="nav-section-label">Principal</div>

  <mat-list-item
    appAccordionLink
    *ngFor="let menuitem of menuItems.getMenuitem()"
    routerLinkActive="selected"
    [group]="menuitem.state">

    <a appAccordionToggle
       [routerLink]="['/cafe/', menuitem.state]"
       *ngIf="menuitem.type === 'link' && (menuitem.role === '' || menuitem.role === userRole)">
      <mat-icon>{{ menuitem.icon }}</mat-icon>
      <span class="nav-text">{{ menuitem.name }}</span>
    </a>

  </mat-list-item>

</mat-action-list>